<div class="skill-item">
    <p class="skill-item-name"> @Title </p>
    <img class="skill-item-icon svg" src="Resources/SVGs/hexagon-slice-@(Level).svg" />
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "";
    [Parameter]
    public int Level { get; set; }
}

<style>
    .skill-item {
        padding: 2px 5px 2px 5px;
        margin: 5px 4px 5px 4px;
        border-radius: 8px;
        background-color: rgb(45, 45, 45);
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .skill-item-name {
        font-size: 20px;
    }

    .skill-item-icon {
        height: 25px;
        width: 25px;
        margin-left: 2px;
        transform: translateY(-1px);
    }
</style>