<footer>
    <section class="contact" id="chapter4">
        <h2 class="title">Contact Me</h2>
        <p>Feel free to contact me using any of the specified contact methods below:</p>
        <div>
            <a href="https://twitter.com/Agent40infinity/" target="_blank"><img class="socials" src="../Resources/SVGs/Twitter.svg" alt="Twitter"></a>
            <a href="https://www.linkedin.com/in/aiden-nathan-agent40/" target="_blank"><img class="socials" src="../Resources/SVGs/LinkedIn.svg" alt="LinkedIn"></a>
            <a href="https://github.com/Agent40infinity" target="_blank"><img class="socials" src="../Resources/SVGs/Github.svg" alt="Github"></a>
            <a href="https://www.instagram.com/agent40infinity/" target="_blank"><img class="socials" src="../Resources/SVGs/Instagram.svg" alt="Instagram"></a>
            <a href="mailto: me@aiden.fyi" target="_blank"><img class="socials" src="../Resources/SVGs/Email.svg" alt="Email"></a>
        </div>
    </section>
    <section class="copyright">
        <p>Copyright © 2022 by Aiden Nathan | All images, logos and names are used with permission.</p>
        <p>Background image credit: <a href="https://twitter.com/CamiUnknown" target="_blank">Camille Unknown</a></p>
    </section>
</footer>

<style>

    footer {
        display: none;
        text-align: center;
        color: white;
    }

    .contact {
        font-size: 22px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: rgb(45, 45, 45);
    }

    .contact div {
        padding-top: 20px;
    }

    .socials {
        height: 35px;
        width: 35px;
        padding: 10px 20px 10px 20px;
        margin-bottom: 0px;
        filter: invert(100%);
        cursor: pointer;
    }

    .socials:hover {
        filter: invert(71%) sepia(3%) saturate(25%) hue-rotate(332deg) brightness(89%) contrast(97%);
    }

    .copyright {
        padding: 20px;
        background-color: rgb(26, 26, 26);
    }

    .copyright a {
        text-decoration: underline;
    }
</style>